<div id="eventDetails">

	<div id="eventDetailsHeader">
		<img id="eventDetailsHeaderImage" src="uploads/{{event.image}}" alt="{{event.name}}">
		<h2>{{event.name}}</h2>
		<a id="loadedContentBoxCloseButton" onclick="javascript:closeLoadedContentBox();">x</a>
	</div>

	<div>
		<p>
			{{event.description}}
		</p>
		{{#if event.price}}
		<p>
			{{ event.price }}€ Eintritt
		</p>
		{{/if}}
		<p>
			{{ event.time }}
		</p>

		<div id="mapDetails"></div>
	</div>

</div>
